on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # allow GITHUB_TOKEN to publish packages
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Submodules
        run: git submodule update --init --recursive

      - name: Set version from tag
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            TAG_VERSION=${GITHUB_REF#refs/tags/}
            # Remove 'v' prefix if present
            VERSION=${TAG_VERSION#v}
            echo "Setting version to: $VERSION"
            npm --no-git-tag-version version "$VERSION"
          else
            echo "Not building from a tag, using default version"
          fi

      - run: npm ci
      - run: npm run codegen

      - run: npm run build:release
      - uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          registry: 'https://npm.pkg.github.com'
          access: restricted
